In [5]:
import pandas as pd
import graphlab as gl

In [2]:
post = pd.read_csv('~/Desktop/producthunt/subsetdata/PostsForAnalysis.txt')
columns = post.columns
X = post[columns]
X = X.drop_duplicates()

/home/joanna/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13,14,15,16,17,18,19,22,25,31,33,35,36,37,38,39,40,42,43,44,45,46,48,50,51,53,55,56,57,60,63,64,66,67,68,69,70,79,81,83,84,85,86,87,88,90,95,100,103,104,106,107,110,113,114,115,118,119,121,122,126,127,131,132,134,135,138,139,140,141,142,148,149,151,152,154,157,159,163,164,167,169,171,173,174,175,178,179,182,185,187,190,193,200,201,204,209,211,215,216,217,218,219,220,221,227,229,230,232,234,236,237,238,239,243,244,247,248,252,253,254,256,258,259,261,262,264,265,266,268,269,271,272,274,275,277,280,281,282,283,284,287,292,293,298,307,310,311,312) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
X.ix[0]

id                                                                  82423
date                                                           2016-11-16
day                                                             Wednesday
created_at                                            2016-11-16 00:20:00
time_of_day                                                         Night
name                                           A.I. Experiments by Google
tagline                 Explore machine learning by playing w/ pics, m...
thumbnail_type                                                      image
product_state                                                     default
comments_count                                                         24
num_makers                                                              0
num_topics                                                              5
X3d.printing                                                          NaN
X3ds                                                                  NaN
a.b.testing                                                           NaN
action.games                                                          NaN
ad.blockers                                                           NaN
adult.coloring.books                                                  NaN
adventure.games                                                       NaN
advertising                                                           NaN
airbnb                                                                NaN
alarm.clocks                                                          NaN
amazon                                                                NaN
analytics                                                             NaN
android                                                               NaN
anime                                                                 NaN
anonymous                                                             NaN
apis                                                                  NaN
apple.tv                                                              NaN
apple.watch                                                           NaN
                                              ...
time.tracking                                                         NaN
to.do                                                                 NaN
touch.bar.apps                                                        NaN
transportation                                                        NaN
travel                                                                NaN
tv                                                                    NaN
twitter                                                               NaN
typography                                                            NaN
uber                                                                  NaN
usability                                                             NaN
user.experience                                                       NaN
venture.capital                                                       NaN
video.streaming                                                       NaN
vim                                                                   NaN
virtual.assistants                                                    NaN
virtual.reality                                                       NaN
wearables                                                             NaN
weather.apps                                                          NaN
web                                                                  True
weird                                                                 NaN
wi.fi                                                                 NaN
windows                                                               NaN
wine                                                                  NaN
wordpress                                                             NaN
writing.tools                                                         NaN
xbox.one                                                              NaN
yoga.books                                                            NaN
youtube                                                               NaN
user_id                                                             61044
votes_count                                                          1500
Name: 0, dtype: object

In [6]:
model = gl.load_model('item_content_recommender')

This non-commercial license of GraphLab Create for academic use is assigned to joanna.hou2016@gmail.com and will expire on January 06, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1485988317.log

In [7]:
raw_data = [42943]
nn = model.get_similar_items(raw_data, 5)
nn_pd = nn.to_dataframe()

In [8]:
nn_pd

      id  similar     score  rank
0  42943    81115  0.992016     1
1  42943    34517  0.991303     2
2  42943    12428  0.990816     3
3  42943    59728  0.990745     4
4  42943    46044  0.990611     5

In [10]:
rec = X[X['id'].isin(nn_pd.similar)]

In [21]:
rec1 = rec[['id', 'name', 'tagline','date', 'votes_count']]
rec1.id

317      81115
4843     59728
7610     46044
10015    34517
17360    12428
Name: id, dtype: int64

In [41]:
rec1['url']='https://www.producthunt.com/posts/'

/home/joanna/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [55]:
f = [rec1.url, rec1.product_id ]

In [64]:
f = pd.concat(f, axis=1)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [60]:
f['new'] = f['url'] + f['product_id'].astype('str')

In [62]:
f['new'].head()

317      https://www.producthunt.com/posts/81115
4843     https://www.producthunt.com/posts/59728
7610     https://www.producthunt.com/posts/46044
10015    https://www.producthunt.com/posts/34517
17360    https://www.producthunt.com/posts/12428
Name: new, dtype: object

In [34]:
rec1['product_id']=rec1.id

/home/joanna/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [50]:
rec1['url1'] = '{}+{}'.format(rec1.url, rec1.product_id)

/home/joanna/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
rec1.url1

317      317      https://www.producthunt.com/posts/\n4...
4843     317      https://www.producthunt.com/posts/\n4...
7610     317      https://www.producthunt.com/posts/\n4...
10015    317      https://www.producthunt.com/posts/\n4...
17360    317      https://www.producthunt.com/posts/\n4...
Name: url1, dtype: object

In [52]:
rec1.product_id

317      81115
4843     59728
7610     46044
10015    34517
17360    12428
Name: product_id, dtype: int64

In [69]:
rec1.pop('product_id')

317      81115
4843     59728
7610     46044
10015    34517
17360    12428
Name: product_id, dtype: int64

In [71]:
rec1.pop('url1')

317      317      https://www.producthunt.com/posts/\n4...
4843     317      https://www.producthunt.com/posts/\n4...
7610     317      https://www.producthunt.com/posts/\n4...
10015    317      https://www.producthunt.com/posts/\n4...
17360    317      https://www.producthunt.com/posts/\n4...
Name: url1, dtype: object

In [95]:
doc = X[X['id']==42943].tagline

In [132]:
doc

2459    Super fast and easy social media sharing buttons.
Name: tagline, dtype: object

In [97]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [118]:
from io import StringIO

In [122]:
doc2_pd = pd.Series(doc2)

In [133]:
doc2 = rec1.iloc[0].tagline

In [134]:
doc2

'Beautiful websites with a few lines of markdown'

In [101]:
tfidfvect = TfidfVectorizer(stop_words='english')
tfidf = tfidfvect.fit(X.tagline)

In [114]:
type(doc)

pandas.core.series.Series

In [115]:
type(doc2)

str

In [102]:
tfidf_vectorized_1=tfidf.transform(doc)

In [123]:
tfidf_vectorized_2 = tfidf.transform(doc2_pd)

In [124]:
from sklearn.metrics.pairwise import linear_kernel

In [130]:
cosine_similarities = linear_kernel(tfidf_vectorized_1, tfidf_vectorized_1)

In [131]:
for i, doc1 in enumerate(docs):
    for j, doc2 in enumerate(docs):
        print i, j, cosine_similarities[i, j]

array([[ 1.]])

In [128]:
tfidf_vectorized_1.data

array([ 0.39843534,  0.31513659,  0.37019407,  0.3668238 ,  0.3498115 ,
        0.32740014,  0.49068924])

In [129]:
tfidf_vectorized_2.data

array([ 0.45797363,  0.54332766,  0.59925483,  0.36871242])

In [126]:
cosine_similarities

array([[ 0.]])

In [76]:
data = pd.read_csv('data_40.csv')

In [77]:
data

        Unnamed: 0  product_id  user_id  votes
0                0        7027   166151      1
1                1       33216   522823      1
2                2       73325   443377      1
3                3        7063   115829      1
4                4       35364   290678      1
5                5        7629    22344      1
6                6       74196   416278      1
7                7        2385     1938      1
8                8       10936    47518      1
9                9       43001   151665      1
10              10       47282    42628      1
11              11       33695    57210      1
12              12       13276    30869      1
13              13       50731   354747      1
14              14       11081    10873      1
15              15       64545    20789      1
16              16       23183   217079      1
17              17       29118    86850      1
18              18       15789   560347      1
19              19       26439    53427      1
20              20       52426   349614      1
21              21        3142     9782      1
22              22       83856   172665      1
23              23        7397   196193      1
24              24       72620    75951      1
25              25       64413   628265      1
26              26       68023   659144      1
27              27        6449    32778      1
28              28       83444      946      1
29              29       51827    64298      1
...            ...         ...      ...    ...
932152      932152       28591    17725      1
932153      932153       47606   115829      1
932154      932154       44873    49700      1
932155      932155       15201    37506      1
932156      932156       41490    39318      1
932157      932157       14792   568407      1
932158      932158        3303   485965      1
932159      932159       40443   123953      1
932160      932160       53017   272718      1
932161      932161        8010    15604      1
932162      932162       39843   459974      1
932163      932163       13021    17030      1
932164      932164       29880    37000      1
932165      932165       20055    81535      1
932166      932166       13450    39504      1
932167      932167       26323   250018      1
932168      932168       40730   384190      1
932169      932169       15893   181355      1
932170      932170       47282   417407      1
932171      932171        6029    99145      1
932172      932172       86025    13922      1
932173      932173       47958    33231      1
932174      932174       33002    23628      1
932175      932175        5575   144770      1
932176      932176       69884   347666      1
932177      932177       32980    51946      1
932178      932178       69960   479144      1
932179      932179        8482    50051      1
932180      932180       62183   404092      1
932181      932181       72129   436927      1

[932182 rows x 4 columns]

In [78]:
rf = gl.load_model('rf_rec')

In [85]:
nn = rf.recommend(users=[1938], k=5)

In [86]:
nn_pd = nn.to_dataframe()

In [89]:
nn_pd.product_id

0    8197
1    3206
2    8230
3    1907
4    9509
Name: product_id, dtype: int64

In [90]:
from graphlab import SGraph, Vertex, Edge
g = SGraph()